.skills {
    @include dementions(100vh, 100vw);
    position: relative;
    .skills_big_container {
        @include dementions(85%, 80%);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include flex-mode()
    }
    .skills_container {
        @include flex-mode(10);
        flex-wrap: wrap;
        flex-direction: column;
        .section_container {
            @include flex-mode(5);
            flex-direction: column;
            .logos_container {
                @include flex-mode(15);
                flex-wrap: wrap
            }
            &:nth-child(2) {
                width: 80%;
            }
        }
        .logo_container {
            @include flex-mode(7);
            flex-direction: column;
            flex-shrink: 1;
            .progress {
                position: relative;
                @include dementions(72px, 72px);
                border-radius: 50%;
                transition: .5s;
                cursor: pointer;
                .img_container {
                    @include dementions(55px, 55px);
                    @include abselute(11%, null, null, 11%);
                    overflow: hidden;
                    @include flex-mode();
                    border-radius: 50px;
                }
            }
            .percent {
                padding: 2px 4px;
            }
        }
    }
    .skills_info {
        //@include dementions(50%, auto);
        border-radius: 5px;
        padding: 40px 20px;
        position: relative;
        overflow: hidden;
        backdrop-filter: blur(5px);
        h2 {
            padding: 150px 50px;
            color: $gray-500;
            text-align: center;
        }
        li {
            list-style-type: square;
            margin-top: 10px;
            p {
                margin-top: 5px;
            }
            h6 {
                color: #6610f2;
            }
        }
        h3 {
            color: $indigo-400;
            margin-bottom: 30px;
        }
        .logo_description {
            display: none;
            opacity: 0;
            transition: opacity .5s;
        }
        img {
            @include centering;
            opacity: .2;
            z-index: 2;
        }
    }
}