.skills {
    @include dementions(100vh, 100vw);
    position: relative;
    .skills_big_container {
        @include dementions(90%, 80%);
        @include centering;
        @include flex-mode()
    }
    .skills_info {
        background: $gray-300;
        @include dementions(50%, auto);
        border-radius: 5px;
    }
    .skills_container {
        @include flex-mode(20);
        flex-wrap: wrap;
        .logo_container {
            @include flex-mode(10);
            flex-direction: column;
            cursor: pointer;
            .progress {
                position: relative;
                @include dementions(94px, 94px);
                border-radius: 50%;
                transition: .5s;
                background: conic-gradient(#6610f2 0deg, #dde2e6 0deg);
                .img_container {
                    @include dementions(77px, 77px);
                    @include abselute(9%, null, null, 9%);
                    overflow: hidden;
                    background-color: white;
                    @include flex-mode();
                    border-radius: 50px;
                }
            }
            .percent {
                @include font($gray-100, 12, 600);
                background-color: $indigo-400;
                padding: 2px 4px;
            }
        }
    }
}

.prog {
    animation: rotate 2s both;
}