$theme:( light_theme:( theme:white, text_color:$gray-900, text_color_rgb:rgba(122, 130, 138, .4), sub_color:$gray-600, sub_color_rgb:rgba(233, 235, 237, .5), main_color: $indigo-400, sub_main:$indigo-500), dark_theme:( theme: $gray-900, text_color:$gray-100, text_color_rgb:rgba(248, 249, 250, .4), sub_color: $gray-600, sub_color_rgb:rgba(108, 117, 125, .5), main_color: $indigo-400, sub_main:$indigo-500));
@each $theme,
$map in $theme {
    .#{$theme} {
        .landing_page {
            @include bg-line(map-get($map, main_color) 60%, map-get($map, sub_main));
            .logo {
                color: map-get($map, text_color)
            }
            .scroller {
                color: map-get($map, text_color)
            }
            .landing_title {
                color: map-get($map, text_color)
            }
        }
        .about {
            background-color: map-get($map, theme);
            .img_container {
                @include bg-line(map-get($map, main_color) 10%, map-get($map, sub_main));
            }
            .title {
                color: map-get($map, main_color)
            }
            .subtitle {
                color: map-get($map, sub_color)
            }
            p {
                color: map-get($map, text_color);
            }
            h1 {
                color: map-get($map, text_color);
            }
            h6 {
                color: map-get($map, sub_color);
            }
            .fa-github {
                color: map-get($map, text_color);
            }
        }
        .nav {
            ul {
                @include bg-line(25deg, map-get($map, sub_color_rgb), map-get($map, text_color_rgb));
                backdrop-filter: blur(10px);
                i {
                    @include font(map-get($map, text_color), $i_font+px)
                }
            }
        }
    }
}