//variables
//font size
$p_font:23;
$h_font:40;
$i_font:30;
//.section_scroll {
//  overflow-y: scroll;
//scroll-snap-type: y mandatory;
//height: 100vh;
//overflow-x: hidden;
//}
body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    padding: 10;
    padding-top: 40px;
    letter-spacing: 5px;
    @include font(null, 60, 600);
}