//variables
//box shadow
$shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
//.section_scroll {
//  overflow-y: scroll;
//scroll-snap-type: y mandatory;
//height: 100vh;
//overflow-x: hidden;
//}
body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    padding-top: 40px;
}

//animations
@keyframes pop {
    from {
        @include abselute($bottom: 150px, $left: 70px);
    }
    to {
        @include abselute($bottom: 120px, $left: 70px);
    }
}