doctype html
html(lang="en")
    head
        include ./pug/head-links
        title Cheaks Portfolio
    body.light_theme
        section.section_scroll
            include ./pug/landing_page
            include ./pug/about
            include ./pug/navigation_bar
            include ./pug/skills
            include ./pug/scripts 