doctype html
html(lang="en")
    head
        include ./pug/head-links
        title Cheaks Portfolio
    body.light_theme
        include ./pug/landing_page
        include ./pug/about
        include ./pug/scripts 