section.about
    h1.text-center ABOUT
    h6.sub_head.text-center My Introduction
    main.about_container
        .imgbig_container.col-6
            .img_container
                img(src="./img/landing.png", alt="", width='500px',height='auto')
        .text_container.col-md-6.col-12 
            .titles
                .title I'am Chakib Brahimi 
                .subtitle Front-end devlopper 
            p
                span Hi, I'm Chakib Brahimi, a front-end developer with
                    | expertise in HTML, CSS, JavaScript, SASS, PugJS, GulpJS,
                    | VueJS, and Jest.


                span I love building beautiful and functional websites that provide an exceptional user experience.
                    | I'm particularly interested in mixins and Gulp tasks,
                    | and enjoy sharing my knowledge with others through posts and tutorials.
                    | Follow me for tips, tutorials, and inspiration on all things web development.
            ul.social_icons
                li: a(href='https://github.com/Cheaks1',target="_blank"): i.fab.fa-github
                li: a(href='https://www.instagram.com/more_code7/reels/?hl=fr',target="_blank"): i.fab.fa-instagram
                li: a(hrer='https://www.facebook.com/chakib.007.34',target="_blank"): i.fab.fa-facebook.text-primary