section.landing_page
    main.header_flex
        a(class='logo' href="#") Cheak.
        .theme_icons 
            i(class="fas fa-moon light" title="Light Theme")  
            i(class='fas fa-circle dark' title="Dark Theme")
    img(src="./img/landing.png", alt="", width="1000px" height="auto")
    .landing_title HE
        br
        span LLO.
    .scroller 
        span Scroll Down
        i.bi.bi-mouse
        i.fas.fa-arrow-right
        <i class="bi bi-9-square-fill"></i>