
//-script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js')
script( src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js")
script(src="./js/script.js") 